

nav {
    display: flex;
    background-color: rgb(9, 0, 105);
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    color: white;
    font-weight: 700;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
    }

  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    
  }
  
  nav a:hover {
    border-bottom: 2px rgb(255, 255, 255);;
  }

  nav a.active {
    color: rgb(255, 115, 0);
  }
body{
  background-color: rgb(255, 255, 255);
}
  
.logincard{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
   
  } 
  .container {
    background-color: rgb(231, 231, 231);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    
  }
  
  .title {
    text-align: center;
  }
  
  .form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #028b09; 
  }
  
  h4 {
    color: #f44336; 
  }



  .home-page {
    text-align: center;
    padding: 20px;
  }
  
  .shoe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .shoe-card {
    background-color: aliceblue;
    margin: 40px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    width: 300px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: transform 0.3s; /* Add transition */
  }
  
  .shoe-card:hover {
    transform: translateY(-5px); /* Add upward transition on hover */
  }
  
  .imagesrc {
    width: 100%;
    height: 200px; /* Set a fixed height for the image */
    object-fit: cover; /* Maintain aspect ratio while covering entire width */

  }
  
  .shoe-details {
    margin-top: 10px;
    padding-left: 10px;
  }
  
  .title {
    text-align: left;
    font-size: large;
  }
  
  .price {
    text-align: left;
    margin-top: 5px;
  }
  
  .add-to-cart {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  



.cart-page {
  margin: 0 auto;
  padding: 20px;
}


.cart-items {
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  background-color: aliceblue;
  border: 1px solid #787878;
  padding: 10px;;
  width: 80%;
  display: flex;
}

.cart-item-image {
  width: 30%; 
  height: 180px;
  margin-right: 10px;

}

.cart-item-details {
  padding-left: 20px;
  flex-grow: 1;
}

.cart-item-details h3 {
  margin-top: 0;
}

.cart-input {
  width: 40px; 
}

.cart-button {
  background-color: #ff6961;
  color: #fff;
  border: none;
  margin: 10px;
  padding: 10px;
} 

.total-price {
  margin-top: 20px;
  
}

.checkout-page {
  text-align: center;
  padding: 20px;
}

table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  border-bottom: 2px solid #000;
}

tbody td {
  padding: 10px;
}

.total-price {
  margin-top: 20px;
}

.payment{
  padding: 10px;
  background-color: #00af0f;
  color: #fff;
  border: none;
  cursor: pointer;
}

